.AboutDerivative {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6em;
}

.AboutDerivative .about-crypto_container{
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

//===derivative-info===
.AboutDerivative .about-crypto_container .derivative-info{
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}
.AboutDerivative .about-crypto_container .derivative-info .rank{
  width: fit-content;
  padding: 0.1em 0.75em;
  background: var(--app-color);
  border-radius: 15px;

  color: #fff;
  font-size: 14px;
  text-align: center;
}
.AboutDerivative .about-crypto_container .derivative-info .derivative{
  display: flex;
  align-items: center;
  gap: 1em;
}
.AboutDerivative .about-crypto_container .derivative-info .derivative img{
  width: 35px;
}
.AboutDerivative .about-crypto_container .derivative-info .derivative h1{
  margin: 0;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.AboutDerivative .about-crypto_container .derivative-info p{
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



//cards
.AboutDerivative .cards-container{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.AboutDerivative .cards-container .card{
  width: calc(25% - 0.45em);
  padding: 1em;
  border-radius: 5px;
  background: #232323;
}
.AboutDerivative .cards-container .card span{
  color: #5A5E6A;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.25em;
}
.AboutDerivative .cards-container .card h4{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
.AboutDerivative .cards-container .card a{
  color: var(--app-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 1198px){
  .AboutDerivative .cards-container .card{
    width: calc(50% - 0.5em);
  }
}
@media (max-width: 650px){
  .AboutDerivative .cards-container .card{
    width: 100%;
  }
}