.CoinTable{
  width: 100%;
  padding: 1em;
  background: inherit;
  cursor: pointer;
  transition: ease-in-out .3s;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  &:hover{
    background: #232323;
  }

  .coin-info{
    width: 35%;
    .item-col{
      width: 5%;
    }
    .item-long{
      width: 90%;
    }
  }
  .coin-stats{
    width: 65%;
    justify-content: space-between;
    .item-col{
      width: 20%;
    }
  }

  //Coin stats
  .coin-info, .coin-stats{
    display: flex;
    align-items: center;
    gap: 2em;
    .item-left{
      text-align: left;
    }
    .item-center{
      text-align: center;
    }
    .item-right{
      text-align: right;
    }
    .item-col{
      label{
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        cursor: pointer;
      }
    }
  }
}