.HomeEntities{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.HomeEntities .navigation-container{
  display: flex;
  gap: 0.5em;
}
.HomeEntities .navigation-container button{
  border-radius: 5px;
  text-align: left;
  padding: 1em 3em 1em 1em;
  background: #232323;
  border: none;
  border-radius: 5px;
  transition: ease-in-out .3s;

  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16.8px */
}
.HomeEntities .navigation-container button:hover{
  background: #326CF4;
}
.HomeEntities .navigation-container button:disabled{
  background: #326CF4;
  box-shadow: 0 4px 10px 0 rgba(50, 108, 244, 0.25);
  opacity: 100%;
}