.AuthLoginPage{
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.AuthLoginPage .navigation-auth{
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;

  h1{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
  }
  a{
    text-decoration: none;
    color: #515151;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    transition: color 0.3s;

    &:hover{
      color: #fff;
    }
  }
}