.Header {
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid #373737;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-container {
    width: 65%;
    display: flex;
    align-items: center;
    gap: 3.5em;

    nav {
      display: flex;
      align-items: center;
      gap: 2em;

      a{
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
      }
    }
  }

  .right-container{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .auth-container{
      width: calc(40% - 1em);
      display: flex;
      align-items: center;
      gap: 1em;

      a{
        color: #fff;
      }
      .sign-up{
        border-radius: 5px;
        background: #326CF4;
        padding: 0.25em 1em;
      }
    }
    input{
      width: calc(60% - 1em);
      padding: 0.75em 1em;
      border-radius: 5px;
      background: #232323;
      border: none;

      color: #FFFFFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
      &::placeholder{
        color: #BEBEBE;
      }
    }
  }
}